{% extends "base.html" %} {% block title %} Login{% endblock %}
{% block content %}
  <!--login form-->
  <div class="login-form-container">
    <a href="/" id="close-login-btn" class="fas fa-times"></a>
    <!-- feedback -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger" role="alert">
        {{ message }}
        </div>
        {{ message }}
          <!-- <button type="button" class="close" data-dismiss="alert">
            <a href="/" id="close-login-btn" class="fas fa-times"></a>
          </button> -->
        </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    

    <form action="" method="POST">
      <h3>Sign-In</h3>
      <span>Email</span>
      <input type="email" name="email" class="box" placeholder="Please Enter Your Email" id="email" required>
      <span>Password</span>      
      <input type="password" name="password" class="box" placeholder="Please Enter Your Password" id="password" required>
      <div class="checkbox">
        <input type="checkbox" name="" id="remember-me">
        <label for="remember-me"> Remember Me </label>
      </div>
      <input type="submit" value="Sign-In" class="btn">
      <p>Forgot Password? <a href="#">Click Here</a></p>
      <p>Don't Have An Account? <a href="/sign-up" id="sign-up-btn">Register Now</a></p>
    </form>
  </div>

  <!--some content to be displayed at the background-->
  <!-- Yoga to calm the mind and soul (and feel better physcially as well!)-->
  <section class="home" id="home">
    <div class="row">
      <div class="content">
        <h3>Relaxation Corner</h3>
        <p>Yoga improves strength, balance, flexibility and calms the inner mind.
          The strengthening and lengthening effects of yoga can improve mobility and function, helping the body to recover from physical injury. And the benefits for mental health can lead to improved sleep patterns and enhanced wellbeing, greatly improving your quality of life!
        </p>
        <p>Here are some 16 basic positions to get you started (and make you feel like you're 16 again)!
        </p>
      </div>
      <div class="swiper books-slider">
        <div class="swiper-wrapper">
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-1.png" alt="Downward Facing Dog"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-2.png" alt="Mountain Pose"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-3.png" alt="Warrior"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-4.png" alt="Half Forward Bend"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-5.png" alt="Plank Pose"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-6.png" alt="Cobra Pose"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-7.png" alt="Staff Pose"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-8.png" alt="Cobbler's Pose"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-9.png" alt="Easy Pose"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-10.png" alt="Half Lord of the Fishes Pose"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-11.png" alt="Head to Knee Pose"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-12.png" alt="Seated Forward Bend"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-13.png" alt="Seated Wide Angle"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-14.png" alt="Happy Baby Pose"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-15.png" alt="Supine Spinal Twist"></a>
          <a href="javascript:;" class="swiper-slide"><img src="../static/image/yoga-16.png" alt="Corpse Pose"></a>
        </div>
        <img src="../static/image/stand.png" class="stand" alt="">
      </div>
    </div>
  </section>


  <!-- A section to be displayed as Background -->
  <section class="featured" id="featured">
    <h1 class="heading"><span>Anxiety Disorders</span></h1>
    <div class="swiper featured-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/anxiety-1.png" alt="General Anxiety Disorder">
          </div>
          <div class="content">
            <h3>General Anxiety Disorder</h3>
            <p>GAD usually involves a persistent feeling of anxiety or dread, which can interfere with daily life.</p>
            <a href="anxiety-1.html" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/anxiety-2.png" alt="Obsessive-Compulsive Disorder">
          </div>
          <div class="content">
            <h3>Obsessive-Compulsive Disorder</h3>
            <p>OCD is a common, chronic, and long-lasting disorder in which a person has uncontrollable obsessions or compulsions.</p>
            <a href="anxiety-2.html" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/anxiety-3.png" alt="Panic Disorder">
          </div>
          <div class="content">
            <h3>Panic Disorder</h3>
            <p>People with panic disorder have frequent and unexpected panic attacks. </p>
            <a href="anxiety-3.html" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/anxiety-4.png" alt="Post-Traumatic Stress Disorder">
          </div>
          <div class="content">
            <h3>Post-Traumatic Stress Disorder</h3>
            <p>PTSD is a disorder that develops in some people who have experienced a shocking, scary, or dangerous event.</p>
            <a href="anxiety-4.html" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/anxiety-5.png" alt="Social Anxiety Disorder">
          </div>
          <div class="content">
            <h3>Social Anxiety Disorder</h3>
            <p>Social anxiety disorder is an intense, persistent fear of being watched and judged by others.</p>
            <a href="anxiety-5.html" class="btn">Learn More</a>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
  
  <!-- email subscription -->
  <section class="newsletter">
    <form action="">
      <h3>Subscribe for updates on the newest information available!</h3>
      <input type="email" name="" placeholder="Please Enter Your Email To Subscribe" id="" class="box">
      <input type="submit" value="Subscribe" class="btn">
    </form>
  </section>

  <!-- Mood Disorders section -->
  <section class="featured" id="featured">
    <h1 class="heading"><span>Mood Disorders</span></h1>
    <div class="swiper featured-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/mood-1.png" alt="Major Depression">
          </div>
          <div class="content">
            <h3>Major Depression</h3>
            <p>Having less interest in normal activities, feeling sad or hopeless, and other symptoms for at least 2 weeks may mean depression.</p>
            <a href="mood-1.html" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/mood-2.png" alt="Dysthymia">
          </div>
          <div class="content">
            <h3>Dysthymia</h3>
            <p>This is an ongoing (chronic), low-grade, depressed, or irritable mood that lasts for at least 2 years.</p>
            <a href="mood-2.html" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/mood-3.png" alt="Bipolar Disorder">
          </div>
          <div class="content">
            <h3>Bipolar Disorder</h3>
            <p>With this condition a person has times of depression alternating with times of mania or a higher mood. </p>
            <a href="mood-3.html" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/mood-4.png" alt="Mood Disorder Induced by Other Health Condition">
          </div>
          <div class="content">
            <h3>Mood Disorder Induced by Other Health Condition</h3>
            <p>Many health conditions (including cancer, injuries, infections, and chronic illnesses) can trigger symptoms of depression.</p>
            <a href="mood-4.html" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/mood-5.png" alt="Substance-induced Mood Disorder">
          </div>
          <div class="content">
            <h3>Substance-induced Mood Disorder</h3>
            <p>Symptoms of depression that are due to the effects of medicine, drug abuse, alcoholism, exposure to toxins, or other forms of treatment.</p>
            <a href="mood-5.html" class="btn">Learn More</a>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
{% endblock %}