<!DOCTYPE html>

<!-- Group Members: 
Member 1: Xinge Wang - 1008837822
Member 2: Tharuth Attanayake - 1006387161
-->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>üMatter{% block title %}{% endblock %}</title>
  <!-- tab icon -->
  <!-- swiper head, font website and custom css file -->
  <link rel="icon" href="../static/image/favicon.png">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <!-- header + top navbar-->
  <header class="header">
    <!-- feedback -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %} {% if category !=
      'error' %}
      <div class="alert alert-success" role="alert">
      {{ message }}
        <button type="button" class="close-alert" data-dismiss="alert">
          <a href="/" id="close-login-btn" class="fas fa-times"></a>
        </button>
      </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    
    <div class="header-1">
      <a href="/#about-us" class="logo"> <i class="fas fa-smile"></i>  üMatter </a>
      <div class="icons">
        <div id="search-btn" class="fas fa-search"></div>
        <a href="/" class="fas fa-home"></a>
        {% if user.is_authenticated %}
          <a id="login-btn" class="fas fa-user" href="/login"></a>
        {% else %}
          <a id="login-btn" class="fas fa-user" href="/logout"></a>
        {% endif %}
        
      </div>
    </div>
    <div class="header-2">
      <nav class="navbar">
        <a id="home" href="/">Home</a>
        <a id="evaluation" href="/evaluation">Evaluation</a>
        <a id="support" href="/support">Support</a>
        {% if user.is_authenticated %}
          <a id="user" href="/logout">Logout</a>
        {% else %}
          <a id="user" href="/login">Login</a>
        {% endif %}
      </nav>
    </div>
  </header>

  <!-- vertical navbar-->
  <nav class="vertical-navbar">
    <ul>
        <li><a href="/" class="fas fa-home"></a></li>
        <li><a href="/evaluation" class="fas fa-marker"></a></li>
        <li><a href="/support" class="fas fa-question"></a></li>
        {% if user.is_authenticated %}
          <li><a href="/login" class="fas fa-user"> </a></li>
        {% endif %}
    </ul>
  </nav>



  <!-- actual content -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <!-- swiper and custom js script -->
  <!-- swiper is the script that let me get the really cool slidey movements-->
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src="../static/js/script.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>

<footer class="credit">
  <p class="copyright"> © 2023 üMatter, Designed by Tharuth Attanayake and Sigmund Wang</p>
</footer>

</html>