{% extends "base.html" %} {% block title %} Support{% endblock %}
{% block content %}
  <!--login form-->
  <div class="login-form-container">
    <a href="/" id="close-login-btn" class="fas fa-times"></a>
    <form action="" method="POST">
      <h3>Sign-In</h3>
      <span>Username</span>
      <input type="email" name="email" class="box" placeholder="Please Enter Your Email" id="email" required>
      <span>Password</span>      
      <input type="password" name="password" class="box" placeholder="Please Enter Your Password" id="password" required>
      <div class="checkbox">
        <input type="checkbox" name="" id="remember-me">
        <label for="remember-me"> Remember Me </label>
      </div>
      <input type="submit" value="Sign-In" class="btn">
      <p>Forgot Password? <a href="#">Click Here</a></p>
      <p>Don't Have An Account? <a href="/sign-up">Register Now</a></p>
    </form>
  </div>

  <section class="featured" id="featured">
    <h1 class="heading"><span>Resources</span></h1>
    <div class="swiper arrivals-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-1.png" alt="Government of Ontario">
          </div>
          <div class="content">
            <h3>Mental Health Services for Children and Youth</h3>
            <p>There are hundreds of programs and services across Ontario that offer help to children and youth with mental health and addiction concerns up to 18 years of age.</p>
            <p>Hosted by the Government of Ontario</p>
            <a href="https://www.ontario.ca/page/mental-health-services-children-and-youth" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-2.png" alt="Kids Help Phone">
          </div>
          <div class="content">
            <h3>Get Support</h3>
            <p>Mental health is different for everyone, and talking about it can bring up strong emotions. Kids Help Phone is available 24/7 to help boost understanding of mental health so you can feel more empowered to talk about it.</p>
            <p>Hosted by Kids Help Phone</p>
            <a href="https://kidshelpphone.ca/" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-3.png" alt="Government of Canada">
          </div>
          <div class="content">
            <h3>Mental Health Support: Get Help</h3>
            <p>There are many links between mental health and substance use. If you or someone you know is struggling with substance use, help is available.</p>
            <p>Hosted by the Government of Canada</p>
            <a href="https://www.canada.ca/en/public-health/services/mental-health-services/mental-health-get-help.html" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-4.png" alt="Turning Point">
          </div>
          <div class="content">
            <h3>Are you in a crisis?</h3>
            <p>We understand that sometimes your situation seems overwhelming and you need immediate help. Toronto has a wide range of supports available for you</p>
            <p>Hosted by Turning Point Youth Services</p>
            <a href="https://turningpoint.ca/for-youth/are-you-in-crisis/" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-5.png" alt="Peel District">
          </div>
          <div class="content">
            <h3>Mental Health and Well-Being (Parents/Caregivers)</h3>
            <p>Mental health is defined as a state of well-being in which every individual realizes their own potential, can cope with the normal stresses of life, can work productively and fruitfully, and is able to make a contribution to their community. Mental health is just as important as our physical health when it comes to success at school, work, in relationships and our personal lives. ​</p>
            <p>Hosted by the Peel District School Board</p>
            <a href="https://rickhansen.peelschools.org/mental-health-parents" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-6.png" alt="Help Ahead">
          </div>
          <div class="content">
            <h3>Mental Health and Well-Being Services</h3>
            <p>Help Ahead is the centralized resource and intake line for infant, child, youth and family mental health and well-being services in Toronto. We offer access to one-off counselling sessions, information and intake to ongoing support and programs. We are not an urgent crisis service.</p>
            <p>Hosted by Help Ahead</p>
            <a href="https://helpahead.ca/youth/resources/" class="btn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper arrivals-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-7.png" alt="Ontario North East District">
          </div>
          <div class="content">
            <h3>Get Help</h3>
            <p>This page is designed to connect you with community resources, in the Ontario North East area.</p>
            <p>Hosted by Ontario North East District School Board</p>
            <a href="https://www.dsb1.ca/apps/pages/index.jsp?uREC_ID=1126696&type=d&pREC_ID=1383186" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-8.png" alt="eMentalHealth">
          </div>
          <div class="content">
            <h3>Crisis Line Including Telephone, Online and Chat</h3>
            <p>Crisis lines offer free, immediate and confidential one-on-one assistance to callers in need and usually operate 24 hours a day, 7 days a week. They are generally staffed by either paid professionals, or trained volunteers. They will listen, offer support and advice, and if necessary, will try to help the caller get connected to help in their community. </p>
            <p>Hosted by eMentalHealth</p>
            <a href="https://www.ementalhealth.ca/Ontario/Crisis-Lines-including-Telephone-Online-and-Chat/index.php?m=heading&ID=21" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-9.png" alt="Canadian Mental Health Association">
          </div>
          <div class="content">
            <h3>Provincial Mental Health Supports</h3>
            <p>In a crisis? Talk Suicide is available at +1 (833) 456-4566 toll-free, anytime or text 45645 between 4 p.m. and midnight ET.</p>
            <p>Hosted by Canadian Mental Health Association</p>
            <a href="https://ontario.cmha.ca/provincial-mental-health-supports/" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-10.png" alt="Where To Start">
          </div>
          <div class="content">
            <h3>Access to Mental Health Services for Children and Youth</h3>
            <p>We’re here to help you or someone you know. If you live in Mississauga, Brampton or Caledon and would like to find out about mental health services that can help you, please call 905-451-4655 and leave a voicemail message or visit our and a member of our team will contact you within 1-2 business days.</p>
            <p>Hosted by Where to Start</p>
            <a href="https://wheretostart.ca/?gclid=Cj0KCQjwuLShBhC_ARIsAFod4fJYSTjk0zbmyuhjww1u-JG7aGfHEx0oOemXdL1h9R9CqENi6i4PGe4aAq9SEALw_wcB" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-11.png" alt="The Family Centre">
          </div>
          <div class="content">
            <h3>Counselling</h3>
            <p>No matter what you’re going through, The Family Centre is here for you.
              Our mental health therapists are experienced in a broad range of issues. We can help you understand your situation better and figure out ways to move successfully through it.</p>
            <p>Hosted by The Family Centre</p>
            <a href="https://www.familycentre.org/counselling?gclid=Cj0KCQjwuLShBhC_ARIsAFod4fIP8CEculD0alDLVnWBwQnBZTERUAt2FOnkSvHyXfoZ6yVnTvMQHe4aAq4WEALw_wcB" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-12.png" alt="Oakville Hospital Foundation">
          </div>
          <div class="content">
            <h3>Youth Mental Health</h3>
            <p>It’s always been important OTHH to give back to the community. OTMH mission is to provide for families and help children recover while alleviating parent's anxieties.</p>
            <p>Hosted by Oakville Hospital Foundation</p>
            <a href="https://oakvillehospitalfoundation.com/stories/mental-health-services-close-to-home/?gclid=Cj0KCQjwuLShBhC_ARIsAFod4fId5N4wTdj59rSyZnle38BWY_0jJJntvWEfl9DA4rW1gGCYLAxz-XUaAnkyEALw_wcB" class="btn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper arrivals-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-13.png" alt="Family & Children's Services">
          </div>
          <div class="content">
            <h3>Mental Health/Crisis Line Telephone Service</h3>
            <p>A List of Mental Health/Crisis Line Telephone Services and descriptions.</p>
            <p>Hosted by Family & Children's Services</p>
            <a href="https://www.fcsrenfrew.on.ca/wp-content/uploads/Family-Supports-Mental-Health-Crisis-Lines-3.pdf" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-14.png" alt="Canadian Mental Health Assosciation">
          </div>
          <div class="content">
            <h3>Crisis Services</h3>
            <p>Crisis Services offers 24hr telephone support to assist individuals, community agencies, and emergency services to work through the resolution of identified issues and challenges.  Our team is comprised of mental health and addiction professionals, who are trained in suicide intervention, and who can help to promote stabilization pre and post-crisis, explore and develop coping strategies, and provide support and recommendations to internal and external ongoing mental health and addiction resources.</p>
            <p>Hosted by Canadian Mental Health Assosciation</p>
            <a href="https://cmhastarttalking.ca/youth/crisis-services/#.ZC3HNHvMI_k" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-15.png" alt="Crisis Line">
          </div>
          <div class="content">
            <h3>Make the Call</h3>
            <p>1 in 5 people will suffer from some sort of mental health disorder in their life. If you are experiencing a mental health crisis yourself, or you know someone who is, please phone the 24/7 Mental Health Crisis Line at +1 (614) 722-6914.</p>
            <p>Hosted by Crisis Line</p>
            <a href="https://crisisline.ca/" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-16.png" alt="Mind">
          </div>
          <div class="content">
            <h3>Useful Contact for 11-18 Year Olds</h3>
            <p>If you're 11-18 years old, this page lists organisations and services that can offer you support and information. All of the contact numbers listed here are helplines, unless we've noted what they're for instead.</p>
            <p>Hosted by Mind</p>
            <a href="https://www.mind.org.uk/for-young-people/how-to-get-help-and-support/useful-contacts/" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-17.png" alt="Ontario Shores">
          </div>
          <div class="content">
            <h3>Crisis Services and Hotlines</h3>
            <p>A collecion of links and hotlines for your pesonal use.</p>
            <p>Hosted by Ontario Shores</p>
            <a href="https://www.ontarioshores.ca/crisis-services-and-hotlines" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-18.png" alt="Cornwall Community Hospital">
          </div>
          <div class="content">
            <h3>Mental Health Crisis Line/Mobile Crisis Team</h3>
            <p>There are two components to the mental health crisis response in the community to help people with serious mental health problems. This could include situational crisis, psychosis, severe depression or anxiety, or suicidal thoughts (not needing immediate medical attention).</p>
            <p>Hosted by Cornwall Community Hospital</p>
            <a href="https://www.cornwallhospital.ca/en/mentalcrisisline" class="btn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper arrivals-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-19.png" alt="Lakeridge Health">
          </div>
          <div class="content">
            <h3>Mental Health & Addictions Resources</h3>
            <p>A number of resources to help you and your loved ones through some of the toughest of times.</p>
            <p>Hosted by Lakeridge Health</p>
            <a href="https://www.lakeridgehealth.on.ca/en/ourservices/mentalhealthandadditionsresources.asp" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-20.png" alt="CHEO">
          </div>
          <div class="content">
            <h3>Mental Health</h3>
            <p>If you or someone you know requires emergency help, contact your local emergency services. In Ontario, call 911 or go to your local hospital emergency room.</p>
            <p>Hosted by Child Hospital of East Ontario</p>
            <a href="https://www.cheo.on.ca/en/clinics-services-programs/mental-health.aspx" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-21.png" alt="Mary J. Wright">
          </div>
          <div class="content">
            <h3>Immediate and Crisis Resources</h3>
            <p>Listed in the website are a number of urgent supports in the community, should these resources be of interest.</p>
            <p>Hosted by Mary J. Wright Child and Youth Development Centre</p>
            <a href="https://mjw-cydc.uwo.ca/resources/index.html" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-22.png" alt="CAMH">
          </div>
          <div class="content">
            <h3>Looking for Mental Health Services</h3>
            <p>It is important to know that there are services that can help. The earlier someone gets help, the less chance that the problem will come back or get worse. </p>
            <p>Hosted by Centre for Addiction and Mental Health</p>
            <a href="https://www.camh.ca/en/health-info/guides-and-publications/looking-for-mental-health-services" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-23.png" alt="William Osler">
          </div>
          <div class="content">
            <h3>Mental Health Services for Adults</h3>
            <p>A diverse list of services and clinics for your conveience, if and when you need it.</p>
            <p>Hosted by William Osler Health Centre</p>
            <a href="https://www.williamoslerhs.ca/en/areas-of-care/mental-health-services-for-adults.aspx" class="btn">Learn More</a>
          </div>
        </div>
        <div class="swiper-slide box">
          <div class="image">
            <img src="../static/image/support-24.png" alt="Canadian Mental Health Association">
          </div>
          <div class="content">
            <h3>The Support Line</h3>
            <p>The Support Line provides confidential listening and support to individuals 16+ any time of day or night.  Whether you are anxious, depressed, lonely, overwhelmed or just need to talk something through with someone, you will find a supportive and caring person at our end of the line.</p>
            <p>Hosted by Canadian Mental Health Association</p>
            <a href="https://cmhamiddlesex.ca/programs-services/support-line/" class="btn">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}