{% extends "base.html" %} {% block title %} Test In Process{% endblock %}
{% block content %}
    <!-- Your codes here -->
    <section class="featured" id="featured">
        <form class="test-content">
            <ol>
                <!-- Major Disorder Overall -->
                <!-- Generalized Anxiety Disorder -->
                <h3>Have You Experienced Any of the Symptoms below in the Past Six Months?</h3>
                <section>
                <li>I was very anxious, worried or scared about a lot of things in my life.</li>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    No
                </label>
                <li>I had trouble sleeping - I could not fall or stay asleep, and/or didn't feel well-rested when I woke up.</li>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    No
                </label>
                <li>I was scared that I would lose control, go crazy, or die.</li>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    No
                </label>
                <p><em>Please tally up your scores: Yes = 4; Sometimes = 3; Barely = 2; No = 1</em></p>
                </section>
                <p>If you have a score of 7 or above, you might have General Anxiety Disorder.</p>
                <p>Please consider seeing a professional and seeking additional help as soon as possible.</p>
                <br>
                <!-- Post-Traumatic Stress Disorder -->
                <h3>How did you find traumatic events?</h3>
                <section>
                <li>Directly - I was a victim of a traumatic event.</li>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    No
                </label>
                <li>My life is partially/formerly affected by that traumatic event.</li>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    No
                </label>
                <li>I had trouble focusing, concentrating, or remembering things. I was unable to feel happiness, contentment, joy, or love, or had trouble connecting with people.</li>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    No
                </label>
                <p><em>Please tally up your scores: Yes = 4; Sometimes = 3; Barely = 2; No = 1</em></p>
                </section>
                <p>If you have a score of 7 or above, you might have Post-Traumatic Stress Disorder.</p>
                <p>Please consider seeing a professional and seeking additional help as soon as possible.</p>
                <br>
                <!-- Panic Disorder -->
                <h3>In the past year, did you experience any of the following symptoms for at least 2 weeks? If so, how strong were they?</h3>
                <section>
                <li>I frequently felt sad, like I couldn't go on.</li>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    No
                </label>
                <li>The sadness I was feeling made it difficult for me to function in my personal, social, or work life.</li>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    No
                </label>
                <li>I kept thinking about death or taking my own life.</li>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    No
                </label>
                <p><em>Please tally up your scores: Yes = 4; Sometimes = 3; Barely = 2; No = 1</em></p>
                </section>
                <p>If you have a score of 7 or above, you might have Panic Disorder.</p>
                <p>Please consider seeing a professional and seeking additional help as soon as possible.</p>
                <br>
                <!-- Panic Attacks -->
                <h3>In the past year, did you experience any of the following symptoms for at least 1 week? If so, how strong were they?</h3>
                <section>
                <li>I experienced an unusually elevated mood where I was extremely elated, energetic, or irritable.</li>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    No
                </label>
                <li>I had periods of time when I needed little or no sleep, yet functioned as well or better than usual.</li>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    No
                </label>
                <li>The mood changes I experienced kept me from living my life to the fullest, or required me to be hospitalized to prevent harm to myself/others.</li>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    No
                </label>
                <p><em>Please tally up your scores: Yes = 4; Sometimes = 3; Barely = 2; No = 1</em></p>
                </section>
                <p>If you have a score of 7 or above, you are experiencing Panic Attacks.</p>
                <p>Please consider seeing a professional and seeking additional help as soon as possible.</p>
                <br>
                <!-- Substance Use Disorder -->
                <h3>In the last year, have you used the following substances? If so, how often?</h3>
                <section>
                <li>Alcohol</li>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q1" value="red" id="q1">
                    No
                </label>
                <li>Cannabis</li>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q2" value="red" id="q2">
                    No
                </label>
                <li>Hallucinogens (e.g. LSD, Peyote, Psilocybin, PCP); Inhalants (e.g. glue, aerosols, lighter fluid, gasoline - products used for mind-altering purposes rather than what they are intended for); Opioids (e.g. Heroin, Codeine, Morphine, Ocycodone); 	Sedatives/Hypnotics/Anxiolytics (e.g. Valium, Xanax, Restoril, Ativan); 	Stimulants (e.g. Cocaine, Ecstasy, Speed, Methamphetamine; Ritalin, Concerta, Biphetamine, Dexedrine)</li>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Yes
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Sometimes
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    Barely
                </label>
                <label>
                    <input type="radio" name="q3" value="red" id="q3">
                    No
                </label>
                <p><em>Please tally up your scores: Yes = 4; Sometimes = 3; Barely = 2; No = 1</em></p>
                </section>
                <p>If you have a score of 7 or above, you might have Substance-Use Disorder.</p>
                <p>Please consider seeing a professional and seeking additional help as soon as possible.</p>
            </ol>
        </form>
    </section>
{% endblock %}