<!DOCTYPE html>

<!-- Group Members: 
Member 1: Xinge Wang - 1008837822
Member 2: Tharuth Attanayake - 1006387161
-->

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> üMatter </title>
  <!-- swiper head, font website and custom css file -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<footer class="credit">
  <p class="copyright"> © 2023  üMatter, Designed by Tharuth Attanayake and Sigmund Wang</p>
</footer>

</html>